<div class="card">
	<div class="card-body">
		
		<h1>Nova tarefa</h1>
		<form method="post" action="">
			<input type="text" class="form-control mt-2" placeholder="Tarefa" name="tarefa">
			<input type="text" class="form-control mt-2" placeholder="Descrição da tarefa" name="descricao">
			<br>
			<button type="submit" class="btn btn-primary">Adicionar</button>
		</form>
	
	</div>
</div>